@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
.header{
    height: 70px;
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.header > a{
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 25px;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color: #A861FF;
}
.profile{
    background: url("./assets/portfolio-bg.png");
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile img{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}
.profile p{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 54px;
    margin-top: 25px;
}
.profile span{
    width: 310px;
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}
.profile a{
    width: 150px;
    font-family: "Poppins";
    font-weight:bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 25px;
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}
.profile a:hover , .lets-talk a:hover{
    color:#1E1E1E;
}
.about{
    height: 500px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about > span{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.icons{
    width: 1200px;
    font-size: 30px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.about-text{
    width: 1200px;
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.about-text > p{
    width: 300px;
    font-family:"Open Sans";
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
.skills{
    height: 600px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.skills > p{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 36px;
}
.progress{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.progress > progress{
    width: 300px;
}
.work{
    height: 800px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}
.work > span{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.work-pics{
    width: 85%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
}
.card{
    height: 250px;
    margin-top: 30px;
    background-color: #121212;
}
.card > img{
    width: 100%;
    height: 200px;
}
.card > p{
    font-family: "Open Sans";
    font-size: 22px;
    text-align: center;
}
.lets-talk{
    height: 400px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lets-talk p{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 36px;
    margin-top: 60px;
}
.lets-talk  span{
    width: 400px;
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.lets-talk a{
    width: 150px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 16px;
    background-color: #A861FF;
    margin-top: 40px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.copyright{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
    margin-top: 100px;
    color: #828282;
}

